.header{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #202020;
}
.sub-header{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #202020;
}

.p-card {
    box-shadow: 0px 0px 4px rgba(7, 7, 7, 0.16), 0px 8px 8px -8px rgba(7, 7, 7, 0.16) !important;
}
:host ::ng-deep .p-card-content{
    padding: 0px !important;
}